table {
    border-collapse: collapse; 
    background: #e8ecf2;  
}
table td {
    font-size: 14px;
    border: 1px solid #A4A8BD;
    width: 125px;
    text-align: center;
}
table.horizontal td {
    width: 75px;
}
canvas {
    border: 2px double #000;
    display: block;
    padding: 20px;
}
.inline {
    display: inline-block;
    margin: 5px;
}
p {
    font-family: "Calibri", Times, serif;
    font-size: 26px;
}
button {
    width:100%;
}